#settings-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-flow: column;
}

#id-scroll-div-container {
    max-height: calc(100vh - 10rem);
}

.color-point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.loader-icon {
    position: absolute;
    top: 100px;
    left: 50vw;
    z-index: 10000;
    visibility: hidden;
}

.map-dropdown {
    align-items: center;
    width: 200px;
    display: inline-block;
}

.measurement-chart {
    height: inherit;
}

.chart-graph {
    height: 100%;
    width: 100%;
    margin: 1em;
}

.chart-drawer{
    left: 400px;
    width: calc(100vw - 400px);
}

@media screen and (max-width: 1000px) {
    .chart-drawer {
        left: 0;
        height: 60%;
        width: 100vw;
    }

    .chart-graph {
        margin: 0;
    }
}

@media screen and (max-height: 500px) {
    .chart-drawer {
        left: 0;
        height: 100%;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .chart-graph {
        margin: 0;
        height: 300px;
    }
}
