#settings-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-flow: column;
}

#id-scroll-div-container {
    max-height: calc(100vh - 10rem);
}

.div-icon{
    background: none;
    border: none;
}

.color-point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}