#settings-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-flow: column;
}

#id-scroll-div-container {
    max-height: calc(100vh - 10rem);
}

#id-chart-drawer-body {
    height: 100%;
    width: 100%;
}

.color-point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.loader-icon {
    position: absolute;
    top: 100px;
    left: 50vw;
    z-index: 10000;
    visibility: hidden;
}

.map-dropdown {
    align-items: center;
    width: 200px;
    display: inline-block;
}

.chart-container {
    height: 100%;
    padding-bottom: 1.5rem;
}

.chart-graph {
    height: 90% !important;
    width: 100%;
}

.scroll-area {
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media screen and (max-width: 380px) {
    .chart-drawer {
        left: 0;
        height: 50vh;
        width: 100vw;
    }

    .chart-graph {
        margin: 0;
    }
}

@media screen and (max-height: 500px) {
    .chart-drawer {
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .chart-graph {
        margin: 0;
        /*height: 300px;*/
    }
}

#id-settings-drawer-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}

#id-fab-container{
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 100;
}

.mitwelten-logo {
    margin: 10px;
    color: white;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    /*background: radial-gradient( rgba(255,255,255,0.3) 10%, rgba(0,0,0,0) 50%);*/
}

input:invalid {
    outline: none !important;
}

.mantine-Drawer-header{
    margin: 0;
}


.attachment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
}

.attachment-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.image-modal {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Verhindert das Überlaufen des Bildes */
    position: relative; /* Für die korrekte Positionierung des Bildes */
}

