#settings-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-flow: column;
}

#id-scroll-div-container {
    max-height: calc(100vh - 10rem);
}

#id-chart-drawer-body {
    height: 100%;
    width: 100%;
}

.color-point {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 216, 0);
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.note-marker-title {
    white-space: normal;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loader-icon {
    position: absolute;
    top: 100px;
    left: 50vw;
    z-index: 10000;
    visibility: hidden;
}

.map-dropdown {
    align-items: center;
    width: 200px;
    display: inline-block;
}

.chart-container {
    height: 100%;
    padding-bottom: 1.5rem;
}

.chart-graph {
    height: 90% !important;
    width: 100%;
}

.scroll-area {
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chart-drawer {
  flex: none;
  position: absolute;
}

@media screen and (max-width: 380px) {
    .chart-drawer {
        left: 0;
        height: 75vh;
        width: 100vw;
    }

    .chart-graph {
        margin: 0;
    }
}

@media screen and (max-height: 500px) {
    .chart-drawer {
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .chart-graph {
        margin: 0;
        /*height: 300px;*/
    }
}

#id-settings-drawer-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}

#id-fab-container{
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 100;
}

.mitwelten-logo {
    margin: 10px;
    color: white;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    /*background: radial-gradient( rgba(255,255,255,0.3) 10%, rgba(0,0,0,0) 50%);*/
}

input:invalid {
    outline: none !important;
}

.mantine-Drawer-header{
    margin: 0;
}

.attachment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  margin-right: 8px;
}

.attachment-card-active {
  background: #F2F2F2;
}

.attachment-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.image-modal {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.marker-tooltip {
  width: 220px;
  max-height: 144px;
  text-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
  padding: 16px;
}

.cropped-ofp {
  width: inherit; 
  height: 200px; 
  object-fit: contain;
  object-position: 50% 50%; 
}

.image-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.audio-player{
    display: flex;
    width: inherit; 
    height: 200px; 
    justify-content: center;
    align-items: center;
}

.audio-player-circle {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.audio-player-circle:hover {
   transition: 0.4s;
}

.player-background {
  height: 40px;
  width: 150px;
  position: absolute;
}


.image-col {
  display: flex;
  justify-content: center;
  width: 250px;
  min-width: 220px;
}

.image-container {
  max-height: 250px;
  width: 100%;
  position: relative;
}

.slide-btn {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.3s;

}

.slide-btn:hover {
  opacity: 1;
}

.slide-btn-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.slide-btn-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.mantine-DateRangePicker-dropdown {
  left: -5px !important;
}

.docu-card {
  transition: transform .2s;
}

.docu-card:hover {
  transform: scale(1.05);
}

