:root{
    --background: #E8F7FC;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.leaflet-control-zoom {
    left: calc(100vw - 52px);
    top: calc(100vh - 180px);
}

#id-app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#id-logo-container {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 100vw;
    height: 20px;
    text-align: center;
    z-index: 900;
    transition: width 100ms ease;
}

#id-search-bar-container {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 20px;
    width: 100vw;
    height: 20px;
    z-index: 1;
    transition: width 100ms ease;
}

#search {
    position: absolute;
    right: 0;
    top: 20px;
    width: 100vw;
    height: 20px;
    text-align: center;
    z-index: 900;
}

#id-map-selector-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.minimap-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.map-image {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    border-radius: 5px;
}

.map-image-selected {
    border: 3px solid royalblue;
    border-radius: 5px;
}

#minimap-button-text {
    text-align: center;
}

#map-selector-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#id-minimap-layer-button {
    position: absolute;
    z-index: 1;
    background: linear-gradient(transparent 60%, black);
    border: 2px solid white;
    border-radius: 10px;
    width: 96px;
    height: 96px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: ease 100ms;
}

#id-minimap-label {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /*height: inherit;*/
    width: 100%;
    bottom: 5px;
}

.minimap-button-label {
    display: flex;
    justify-content: start;
    width: inherit;
    height: 50px;
    text-align: center;
    word-wrap: break-word;
}

.leaflet-popup-content-wrapper {
  background: var(--background);
}

.leaflet-popup-tip {
  background: var(--background);
}
